<h1>About</h1>
<p>A simple fireteam building site with added features for fireteam creation and management. Lets build this into a community in which Guardians help Guardians succeed! Maybe you reached level 30... well help a Guardian out! Maybe you are grinding and need that push to level up past 24... well, lets hope there is a Guardian on this site that can help you out, your very own Destiny Sherpa!</p>
<h1>Steps</h1>
<h2>1</h2><p>Step One: Register. (Note: I understand there may be insecurities with registering with your real email considering the site also ask for your PSN and XBL gamertags, hence I not utilizing an email confirmation system and you can use any email formatted text. Basically you can use 'destinyawesomeguy@destinykiller.net' as your profile name/email. Later on this can change and we can build in actual email verification. Just don't forget your email/password as you wont be able to use the password retrieval feature if you don't use your real email.)</p>

<img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-366116804000/approval.png" alt="..." class="img-thumbnail">

<h2>2</h2><p>Make sure to save your PSN and/or XBL gamertag as that will be required in order to join and event/fireteam.</p> 

<h2>3</h2><p>Create or search for a fireteam! You can currently filter by event type and game system.</p> 
<img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-366116804000/homepagedes.png" alt="..." class="img-thumbnail">

<h2>4</h2><p>Ask to join a fireteam.</p> 
<img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-366116804000/fireteam1.png" alt="..." class="img-thumbnail">
<h2>5</h2><p>If the event organizer accepts your request you will be notified on the ‘My Events’ tab.</p>  
<img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-366116804000/approval.png" alt="..." class="img-thumbnail">
<h2>6</h2><p>Once accepted into a foreteam you will be able to view other members, send announcements and in general organize your plan of attack!</p>

<img src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-366116804000/fireteamanage.png" alt="..." class="img-thumbnail">

<h2>7</h2><p>If for some reason you do not complete your Event your group leader can always edit the event on Destiny Sherpa and set another time for your fireteam to take on the challenge once again!!!</p> 

<h2>8</h2><p>If this is all too complicated… then simply visit the ‘Live Event Building’ page and organize a fireteam!</p> 

<br><br><br><br>